<div ng-controller='dashController as DC'>
  <nav>
    <h1>Welcome <span ng-bind="DC.currUser.name"></span></h1>
    <div class="nav_links">
      <a href="#/login">Logout</a>
    </div>
  </nav>
  {{DC}}


  <a href="#/new_question">Add a new question</a>
  <div class="search">
    Search: <input type="text" ng-model="DC.search_filter">
  </div>
  <table>
    <thead>
      <th>Question</th>
      <th>Answers</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr ng-repeat="question in DC.questions | filter: DC.search_filter">
        <td ng-bind="question.title"></td>
        <td ng-bind="question.answers.length"></td>
        <td><a href="#/question/{{question._id}}">Show</a> <a href="#/question/{{question._id}}/new_answer">Answer</a></td>
      </tr>
    </tbody>
  </table>




</div>
