<div ng-controller='questionController as QC'>
  <nav>
    <div class="nav_left">
      <a href="#/">Home</a> | <a href="#/question/{{QC.question._id}}/new_answer">Answer This Question</a>
    </div>
    <div class="nav_links">
      <a href="#/login">Logout</a>
    </div>
  </nav>
  <!-- {{QC}} -->
  <h1 ng-bind="QC.question.title"> </h1>
  <h3 ng-bind="QC.question.description"></h3>
  <div class="answers">
    <ul>
      <li ng-repeat="answer in QC.question.answers">
        <h4 ng-bind="answer.title"></h4>
        <p ng-bind="answer.description"></p>
        <p>likes: <span ng-bind="answer.likes"></span></p>
        <button type="button" ng-click="QC.like(answer._id)" name="button">Like</button>
      </li>
    </ul>

  </div>



</div>
